@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar {
    width: 100vw;
    height: 90px;

    background-color: #000000;
    /* background-color: pink; */

    color: white;


    position: fixed;

    z-index: 5;

    font-family: "Permanent Marker", sans-serif
}

#navbar-logo {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    left: 2%;
}

.navbar-button-container {
    width: 600px;
    height: 100%;

    position: absolute;

    left: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 6px;
}

.navbar-button {
    width: 120px;
    height: 90%;

    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: 900;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}

.navbar-button:hover {
    opacity: 0.80;

}