.Page1 {
    width: 100vw;
    height: 100vh;

    background-color: #000000;
    position: relative;
}

.anime-rank {
    position: absolute;

    left: 5%;
    top: 15%;

    font-weight: 900;
    font-size: 20px;

    color: lightslategrey;
}

.anime-title {
    font-weight: 900;
    font-size: 40px;

    width: 1000px;

    position: absolute;

    left: 5%;
    top: 25%;

    color: white;
}

.anime-description {
    color: white;

    position: absolute;
    left: 5%;
    top: 38%;

    /* background-color: pink; */

    width: 650px;
    height: 400px;

    overflow: hidden;
}

.button-change-container {
    width: 100px;
    height: 100px;
    /* background-color: red; */

    position: absolute;
    bottom: 10%;
    right: 5%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.change-container {
    width: 50px;
    height: 50px;

    background-color: grey;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    border-radius: 15px;
}

.watch-now-container {
    position: absolute;
    left: 5%;
    bottom: 20%;
}